
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success mt-5">Thanh toán thành công!</h2>

<p>
    <a href="~/Home/Index">
        Tiếp tục mua hàng...
    </a>
</p>